
@{
    ViewBag.Title = "Create";
}

<div class="title-section">
    <h2 class="title">
        Create Categories
    </h2>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <form id="createCategory">

                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input name="Name" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="col-form-label">Description</label>
                    <input name="Description" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="isFeatured">Is Featured ?</label>
                    <input type="radio" name="isfeatured" class="radio-inline form-check-input" value="true">True
                    <input type="radio" name="isfeatured" class="radio-inline form-check-input" value="false">False
                </div>
                <label>Image</label>
                <input id="imageUpload" name="Image" type="file" accept=".png, .jpg, .jpeg" />


                <div class="thumb">
                    <img id="categoryImg" />
                    <input id="ImageUrl" name="ImageUrl" type="hidden" />
                </div>

                <div class="themesflat-button-custom">
                    <button id="saveCategoryBtn" type="button" class="  bg-accent">Save</button>

                </div>
            </form>
        </div>

    </div>

</div>


<script>
    $("#createCategory").validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength:10
            },
            Description: {
                required: true,
                maxlength: 100
            }
        },
        messages: {
            Name: {
                required: "We need your Name",
                minlength: "At least 5 characters required!",
                maxlength: "Maximum 10 characters allowed!",
            },
            Description: {
                required: "We need your Description",
                maxlength: "Maximum 500 characters allowed!",

            }
        }
    });
    $("#saveCategoryBtn").click(function () {
        debugger;
        if ($("#createCategory").valid()) {
            //validation check begin
            swal({
                title: "Are you want save new Category?",
                text: "Are you want save new Category?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: 'POST',
                            url: '/Category/Create',
                            data: $("#createCategory").serialize()
                        })
                            .done(function (responce) {
                                $("#tableContiner").html(responce);
                                $("#actionContainer").html("")

                                swal("Congratulations !! Category has been added !", {
                                    icon: "success",
                                });

                            })
                            .fail(function (XMLHTTpRequest, textStatus, errorThrown) {

                                swal("Failed!", {
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Please enter all the required  fields ..',
                                    footer: '<a href="">Why do I have this issue?</a>'

                                });
                            })


                    }
                });
            //Validations check end 
        } else {
            swal("Failed!", {
                icon: 'error',
                title: 'Oops...',
                text: 'JS  Please enter all the required  fields ..',
                footer: '<a href="">Why do I have this issue?</a>'

            });
        }
      


    });
  
    $("#imageUpload").change(function () {
        debugger;
        var element = this; // refer to file upload field
        var formData = new FormData();// create new form data object
        var totalFiles = element.files.length; // check total number of files in element

        for (var i = 0; i < totalFiles; i++) { // initliazie files one by one
            var file = element.files[i];
            formData.append("Photo", file); // put value into form data
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                debugger;
                console.log(response);
                if (response.Sucess == true) {
                    $("#categoryImg").attr("src", response.ImageUrl);
                    $("#ImageUrl").val(response.ImageUrl);
                }



            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                swal("Failed!", {
                    icon: 'error',
                    title: 'Oops...',
                    text: XMLHTTpRequest.responseText,
                    footer: '<a href="">Why do I have this issue?</a>'
                });
            });

    });


</script>