@model  Amazon.Web.Models.viewModels.HomeViewModels
@{
    ViewBag.Title = "Home Page";
}

<!-- IMAGE BOX -->
<section class="flat-row row-image-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-carousel-box">
                    <div class="flat-image-box flat-carousel-box has-arrows arrow-center bg-transparent offset-62 offset-v-24 style-1 data-effect div-h22 clearfix" data-auto="true" data-column="3" data-column2="2" data-column3="1" data-gap="30">
                        <div class="owl-carousel owl-theme">

                            @foreach (var featuredcategories in Model.Featuredcategories)
                            {<div class="item data-effect-item">
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="@featuredcategories.ImageUrl" alt="Image">
                                            <div class="elm-btn">
                                                <a href="#" class="themesflat-button bg-white width-150"> @featuredcategories.Name</a>
                                            </div>
                                            <div class="overlay-effect bg-color-1"></div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div> <!-- /.owl-carousel  -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section>

<!-- PRODUCT NEW -->
<section class="flat-row row-product-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-52">
                    <h2 class="title">
                        New Product
                    </h2>
                </div>

                @{Html.RenderAction("ProductsWidgets", "Widgets", new { isLatestProducts = true });}

            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>




<!---Best Sale Section-->


<section class="flat-row row-product-project style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-41">
                    <h2 class="title">Best Sale</h2>
                </div>
             @*   <ul class="flat-filter style-1 text-center max-width-682 clearfix">
                    <li class="active"><a href="#" data-filter="*">All Product</a></li>
                    <li><a href="#" data-filter=".kid">For Kid’s</a></li>
                    <li><a href="#" data-filter=".man">For Man’s</a></li>
                    <li><a href="#" data-filter=".woman">For Woman’s</a></li>
                    <li><a href="#" data-filter=".accessories">Accessories</a></li>
                </ul>
                <div class="divider h54"></div>*@

                @{Html.RenderAction("ProductsWidgets", "Widgets", new { isLatestProducts = false });}

                 <div class="product-content product-fourcolumn clearfix">
            <ul class="product style2 isotope-product clearfix" style="position: relative; height: 1346.92px;">
                <li class="product-item kid woman" style="position: absolute; left: 0px; top: 0px;">
                    <div class="product-thumb clearfix">
                        <a href="#">
                            <img src="images/shop/sh-4/1.jpg" alt="image">
                        </a>
                    </div>
                    <div class="product-info clearfix">
                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                        <div class="price">
                            <ins>
                                <span class="amount">$100.00</span>
                            </ins>
                        </div>
                        <ul class="flat-color-list width-14">
                            <li>
                                <a href="#" class="red"></a>
                            </li>
                            <li>
                                <a href="#" class="blue"></a>
                            </li>
                            <li>
                                <a href="#" class="black"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
                <li class="product-item man accessories" style="position: absolute; left: 221px; top: 0px;">
                    <div class="product-thumb clearfix">
                        <a href="#">
                            <img src="images/shop/sh-4/2.jpg" alt="image">
                        </a>
                        <span class="new">New</span>
                    </div>
                    <div class="product-info clearfix">
                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                        <div class="price">
                            <ins>
                                <span class="amount">$100.00</span>
                            </ins>
                        </div>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
                <li class="product-item kid woman" style="position: absolute; left: 442px; top: 0px;">
                    <div class="product-thumb clearfix">
                        <a href="#" class="product-thumb">
                            <img src="images/shop/sh-4/3.jpg" alt="image">
                        </a>
                    </div>
                    <div class="product-info clearfix">
                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                        <div class="price">
                            <ins>
                                <span class="amount">$100.00</span>
                            </ins>
                        </div>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
                <li class="product-item man accessories" style="position: absolute; left: 0px; top: 459px;">
                    <div class="product-thumb clearfix">
                        <a href="#" class="product-thumb">
                            <img src="images/shop/sh-4/4.jpg" alt="image">
                        </a>
                        <span class="new sale">Sale</span>
                    </div>
                    <div class="product-info clearfix">
                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                        <div class="price">
                            <del>
                                <span class="regular">$120.00</span>
                            </del>
                            <ins>
                                <span class="amount">$100.00</span>
                            </ins>
                        </div>
                        <ul class="flat-color-list width-14">
                            <li>
                                <a href="#" class="red"></a>
                            </li>
                            <li>
                                <a href="#" class="blue"></a>
                            </li>
                            <li>
                                <a href="#" class="black"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
                <li class="product-item kid woman" style="position: absolute; left: 221px; top: 459px;">
                    <div class="product-thumb clearfix">
                        <a href="#" class="product-thumb">
                            <img src="images/shop/sh-4/5.jpg" alt="image">
                        </a>
                        <span class="new">New</span>
                    </div>
                    <div class="product-info clearfix">
                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                        <div class="price">
                            <ins>
                                <span class="amount">$100.00</span>
                            </ins>
                        </div>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
                <li class="product-item man accessories" style="position: absolute; left: 442px; top: 459px;">
                    <div class="product-thumb clearfix">
                        <a href="#" class="product-thumb">
                            <img src="images/shop/sh-4/6.jpg" alt="image">
                        </a>
                        <span class="new sale">Sale</span>
                    </div>
                    <div class="product-info clearfix">
                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                        <div class="price">
                            <del>
                                <span class="regular">$150.00</span>
                            </del>
                            <ins>
                                <span class="amount">$100.00</span>
                            </ins>
                        </div>
                        <ul class="flat-color-list width-14">
                            <li>
                                <a href="#" class="red"></a>
                            </li>
                            <li>
                                <a href="#" class="blue"></a>
                            </li>
                            <li>
                                <a href="#" class="black"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
                <li class="product-item kid woman" style="position: absolute; left: 0px; top: 919px;">
                    <div class="product-thumb clearfix">
                        <a href="#" class="product-thumb">
                            <img src="images/shop/sh-4/7.jpg" alt="image">
                        </a>
                    </div>
                    <div class="product-info clearfix">
                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                        <div class="price">
                            <ins>
                                <span class="amount">$100.00</span>
                            </ins>
                        </div>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
                <li class="product-item man accessories" style="position: absolute; left: 221px; top: 919px;">
                    <div class="product-thumb clearfix">
                        <a href="#" class="product-thumb">
                            <img src="images/shop/sh-4/8.jpg" alt="image">
                        </a>
                        <span class="new">New</span>
                    </div>
                    <div class="product-info clearfix">
                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                        <div class="price">
                            <ins>
                                <span class="amount">$100.00</span>
                            </ins>
                        </div>
                    </div>
                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
            </ul>
        </div>
            </div>
        </div>
    </div>
</section>